{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DABL{% endblock %}



{% block page_content %}

{% set link = base_url + '/container_lookup/'+ container.id|string %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <img src="{{ qrcode(link, box_size=3) }}">
        </div>
        <div class="col-sm-3">
            <p>{{ container.name }}</p>
            <p>{{ container.batch.description }} | {{ container.batch.abv }}% ABV</p>
            <p>Bottled: {{ container.time_created.strftime('%Y-%m-%d') }}</p>
        </div>
    </div>
</div>

{% endblock %}