{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set base_url ="http://"+"192.168.1.101:5000" %}
{% block title %}DABL{% endblock %}

{% block page_content %}
<a id="btn_batch_add" type="button" href="{{ url_for('containers.active_containers') }}" class="btn btn-primary">Active</a>
<a id="btn_batch_add" type="button" href="{{ url_for('containers.all_containers') }}" class="btn btn-primary">All</a>
<div class="container">
    <div class="row mt-5">
      <div class="col-6 offset-3">
        <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Volume</th>
                          <th>Age</th>
                          <th>Batch</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_containers|length > 0 %}
                          {% for container in all_containers %}
                          {% set link = base_url + '/container_lookup/'+ container.id|string %}
                          <tr>
                            <td>{{ container.name }}</td>
                            <td>{{ container.containertype_rel.name }}</td>
                            <td>{{ container.volume_actual }} mL</td>
                            <td>{{ container.get_age() }} days</td>
                            <td><a href="{{ url_for('batches.batch_view', name=container.batch.name) }}">{{ container.batch.name }}</a></td>
                            <td><div class="btn-group" role="group" aria-label="Actions">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCenterLabel{{container.id}}">
                                Label
                              </button>
                              <!-- Modal -->
                              <div class="modal fade" id="modalCenterLabel{{container.id}}">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="modalCenterLabel{{container.id}}">Container Label</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="{{ qrcode(link, box_size=3) }}">
                                            </div>
                                            <div class="col-md-5">
                                                <p>{{ container.name }}</p>
                                                <p>{{ container.batch.description }} | {{ container.batch.abv }}% ABV</p>
                                                <p>Bottled: {{ container.time_created.strftime('%Y-%m-%d') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- https://stackoverflow.com/questions/45874906/flask-and-javascript-confirm-before-deleting -->
                              <!--  https://stackoverflow.com/questions/70257299/flask-modal-confirm-dialog look at this example to align confirms-->
                              <!-- Button trigger modal -->
                              {% if container.status_id == 200 %}
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{container.id}}">
                                Consume
                              </button>
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModalCenter{{container.id}}">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle{{container.id}}">Container Consumption</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <h3>Consume {{container.name}}</h3>
                                      <p>Are you sure?</p>
                                    </div>
                                    <div class="modal-footer">
                                      <form action="{{url_for('containers.container_consume', container_id=container.id)}}" method="post">
                                        <input type="submit" value="Consume" class="btn btn-primary mr-auto">
                                      </form>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {% endif %}


                            </td>
                            </div>
                          </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <td>No Containers Added. Please add a container.</a></td><td></td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
      </div>
    </div>
  </div>
{% endblock %}
