{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DABL{% endblock %}

{% block page_content %}
<a id="btn_batch_add" type="button" href="" class="btn btn-primary">Add Vessel</a>
<div class="container">
    <div class="row mt-5">
      <div class="col-6 offset-3">
        <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Volume</th>
                          <th>Age</th>
                          <th>Batch</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_containers|length > 0 %}
                          {% for container in all_containers %}
                          <tr>
                            <td>{{ container.name }}</td>
                            <td>{{ container.containertype_rel.name }}</td>
                            <td>{{ container.volume_actual }} gal</td>
                            <td>{{ container.get_age() }} days</td>
                            <td><a href="{{ url_for('batches.batch_view', name=container.batch.name) }}">{{ container.batch.name }}</a></td>
                            <td><div class="btn-group" role="group" aria-label="Actions">
                              <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-secondary" href="{{ url_for('batches.batch_view', name=container.batch.name) }}">Edit Status</a>
                              <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-secondary" href="{{ url_for('batches.batch_view', name=container.batch.name) }}">Label</a>
                              {% if container.batch.id is defined %}
                              <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-secondary" href="{{ url_for('batches.batch_view', name=container.batch.name) }}">Move Contents</a>
                              {% endif %}
                            </div>
                          </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <td>No Vessels Added. Please <a href="{{ url_for('batches.batch_view', name=container.batch.name) }}">add a vessel</a></td><td></td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
      </div>
    </div>
  </div>
{% endblock %}
