{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DABL{% endblock %}



{% block page_content %}

{% set link = base_url + '/vessel_lookup/'+ vessel.id|string %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <img src="{{ qrcode(link, box_size=5) }}">
        </div>
        <div class="col-sm-3">
            <p>ID: {{ vessel.id }}</p>
            <p>{{ vessel.name }}</p>
        </div>
    </div>
</div>

{% endblock %}