{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DABL{% endblock %}

{% block page_content %}
<a id="btn_batch_add" type="button" href="{{ url_for('vessels.vessel_create') }}" class="btn btn-primary">Add Vessel</a>
<div class="container">
    <div class="row mt-5">
      <div class="col-6 offset-3">
        <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Volume</th>
                          <th>Status</th>
                          <th>Batch</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_vessels|length > 0 %}
                          {% for vessel in all_vessels %}
                          <tr>
                            <td>{{ vessel.name }}</td>
                            <td>{{ vessel.vesseltype_rel.name }}</td>
                            <td>{{ vessel.vesseltype_rel.volume_max }} gal</td>
                            <td>{{ vessel.status.name }}</td>
                            <td><a href="{{ url_for('batches.batch_view', name=vessel.batch.name) }}">{{ vessel.batch.name }}</a></td>
                            <td><div class="btn-group" role="group" aria-label="Actions">
                              <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-secondary" href="{{ url_for('containers.vessel_update_status', container_id=vessel.id) }}">Edit Status</a>
                              <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-secondary" href="{{ url_for('vessels.vessel_label', vessel_id=vessel.id) }}">Label</a>
                              {% if vessel.batch.id is defined %}
                              <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-secondary" href="{{ url_for('containers.vessel_move_contents', container_id=vessel.id) }}">Move Contents</a>
                              {% endif %}
                            </div>
                          </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <td>No Vessels Added. Please <a href="{{ url_for('vessels.vessel_create')}}">add a vessel</a></td><td></td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
      </div>
    </div>
  </div>
{% endblock %}
